
.question-div {
    background-color: #FA7D09;
    padding: 10px;
    overflow: hidden;
    border-radius: 25px;
}

#question-number {
    padding-top: 0;
    position: inherit;
    padding-bottom: 13px;
}

.options {
    color: #fff;
    cursor: pointer;
    background-color: #4A3F35;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

